<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'course_app/style.css'%}">
	</head>
	<body>
		<h2>Add a new course</h2>
		<form action="{% url 'home:add_course' %}" method="post">
			{% csrf_token %}
			<div>
				<label>Name: </label>
				<input type="text" name="name">
			</div>
			<div>
				<label>Description</label>
				<textarea name="description"></textarea>
			</div>
			<input type="submit" name="submit" value="Add">
		</form><br><br><br>
		<h2>Courses</h2>
		<div>
			{% for course in courses %}
				{{ course.name }}{{ course.description}} {{ course.created_at }} 
				<form action="/destroy/{{ course.id }}" method='post'>
					{% csrf_token %}
					<input type="hidden" name="course_id" value="{{ course.id }}">
					<input type="submit" name="remove" value="remove">
				</form>
			{% endfor %}
		</div>
	</body>
</html>